click==7.1.2
Flask==1.1.2
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dotenv==0.13.0
Werkzeug==1.0.1
WTForms==2.3.1
#pip install -r requirements.txt ---- if we run this command then the packeges in this file will be installed...