body{
    margin-top: -1.7%;
    background-color: black;
}
.header{
    /* background-color: aqua; */
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100px; 
    width: 100%;
}
.heading{
    color:aliceblue;
    text-align: center;
}
/* #col-comb{
    background-color:#48b1bf;
} */
.flashes{
    margin-top:20px;
    padding-left:95px;
}
.active{
    color:black;
}
.dropdown{
    margin-right: 50px;
    width:100px;
    height:22px;
    background-color: #dbf6e9;
}
h4{
    text-align: center;
    font-weight: bold;
    font-size:x-large;
}
.medicine-head{
	text-align: center;
	font-weight: bold;
	font-size:x-large;
}

.st_column{
    font-size: large;
}
/* .container  
{
    margin:5px;
} */
.error{
    color:red;
}
.information{
    color:green;
}
.warning{
    color:yellow;
}
