{% extends "layout.html"%}
{% include "layout2.html"%}
{% block content %}
<div>
            <p><h4 style="text-align: center;font-weight: bold;font-size:x-large;">Patient Details</h4></p>
            <center>
                <table class="pure-table" >
                    <thead>
                        <tr>
                            <th>PatientId</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>DOJ</th>
                            <th>Type of Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in user %}
                        <tr>
                            <td>{{ i.pid }}</td>
                            <td>{{ i.p_name }}</td>
                            <td>{{ i.age }}</td>
                            <td>{{ i.address }}</td>
                            <td>{{ i.doj }}</td>
                            <td>{{ i.bedtype }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>


<div>
            <p><h4 style="text-align: center;font-weight: bold;font-size:x-large;">Medicines issued</h4></p>
            <center>
                <table class="pure-table" >
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in meds %}
                        <tr>
                            <td>{{ i.medicine }}</td>
                            <td>{{ i.quantity }}</td>
                            <td>₹ {{ i.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>
<div>
            <p><h4 style="text-align: center;font-weight: bold;font-size:x-large;">Diagnostics</h4></p>
            <center>
                <table class="pure-table" >
                    <thead>
                        <tr>
                            <th>Test Name</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in diags %}
                        <tr>
                            <td>{{ i.diagnosis }}</td>
                            <td>₹ {{ i.cost }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div><br><br>


<div>
            <p><h4 style="text-align: center;font-weight: bold;font-size:x-large;">Total Amount to be settled.</h4></p>
            <center>
                <table class="pure-table" >
                    <thead>
                        <tr>
                            <th>Medicines</th>
                            <th>Diagnostics</th>
                            <th>Admit charge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>₹ {{ mtotal }}</td>
                            <td>₹ {{ dtotal }}</td>
                            <td>₹ {{ atotal }} x {{ days }}days</td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <table class="pure-table" >
                    <thead>
                        <tr>
                            <th>TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>₹ {{ mtotal+dtotal+atotal*days }}</td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div><br><br>
{% endblock %}   